html,
body {
  min-height: 100%;
  min-width: 100%;
}

h1 {
  text-align: center;
}

.hero {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  outline: 1px solid #333;
  padding: 1rem;
}

.container > div {
  border: 1px solid #333;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 1rem;
  padding-top: 0.2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sidebar {
  width: 30%;
  padding-left: 1rem;
  outline: 1px solid #333;
  padding: 1rem;
}

.container {
  padding: 1rem;
  outline: 1px solid #333;
  padding-left: 1rem;
  width: 70%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(4, 1fr);
}

fieldset {
  width: 60%;
}
fieldset > ul {
  padding-left: 0;
}

fieldset > ul > li {
  list-style: none;
}

button[type="button"] {
  margin: 1rem;
}
